.results-block.j-error-screen.hide
  %h1.newtone-speach.pull-left
    = t('newtone_speach.error').html_safe
  .row
    %p.font-weight-normal= t('error').html_safe
  %hr.small
  %h3.font-weight-normal= link_to "#{fontello('left-circled', 24)} #{t('go_back')}".html_safe, :back