.results-block.j-results-screen.hide
  .bad.hide
    %h1.newtone-speach.pull-left
      = t('newtone_speach.results.bad').html_safe
    .row
      .span4
        = t('newtone_speach.results.bad_text').html_safe
      .span2
        = select_audio_source_button :new
  .good.hide
    %h1.newtone-speach.pull-left
      = t('newtone_speach.results.good').html_safe
    .row
      .span4
        %h1.no-margin-bottom.artist.j-artist=  "Artist"
        %h2.font-weight-normal.no-margin-top.title.j-title= "Title"
      .span2
        = select_audio_source_button :new