.row
  .span6
    .j.newtone-face.newtone-normal
    - newtone_states = [:bad, :good]
    - newtone_states.each do |state|
      %div{ :class => "j newtone-face newtone-#{state} hidden" }
  .span6
    .desktop
      #flash_panel
        %span#flashcontent
          %p
            = t('flash_enable')
      = render 'welcome'
      = render 'results'
      = render 'processing'
      = render 'error'
.clearfix
